In [6]:
import pandas as pd
import numpy as np
import psycopg2
import configparser

In [7]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

### Access point dimensional

In [8]:
RDS_HOST_DBDIM = 'dbdim.cp6geq8ycm59.us-east-2.rds.amazonaws.com'

### Access point transaccional

In [9]:
RDS_HOST_DBTIENDA = 'dbtienda.cp6geq8ycm59.us-east-2.rds.amazonaws.com'

### Drivers a utilizar para conectar a las bases de datos

In [10]:
mysql_driver = f"""mysql+mysqlconnector://{config.get('DBTIENDA','DB_USERNAME')}:{config.get('DBTIENDA','DB_PASSWORD')}@{RDS_HOST_DBTIENDA}:{config.get('DBTIENDA','DB_PORT')}/{config.get('DBTIENDA','DB_NAME')}"""  
mysql_driver

'mysql+mysqlconnector://admin_tienda:9HMt06J6jBeX@dbtienda.cp6geq8ycm59.us-east-2.rds.amazonaws.com:3306/tienda'

In [11]:
postgres_driver = f"""postgresql://{config.get('DIM','DB_USERNAME')}:{config.get('DIM','DB_PASSWORD')}@{RDS_HOST_DBDIM}:{config.get('DIM','DB_PORT')}/{config.get('DIM','DB_NAME')}"""  
postgres_driver

'postgresql://admin_tiendadim:KNn9yX1ZeF16@dbdim.cp6geq8ycm59.us-east-2.rds.amazonaws.com:5432/tiendadim'

### Leer tablas

In [12]:
sql_query = 'SELECT * FROM persona;'
df_persona = pd.read_sql(sql_query, mysql_driver)
df_persona

,idpersona,tipo_persona,nombre,tipo_documento,num_documento,direccion,telefono,email
0,1,PERSONA,Ashley Long,PASAPORTE,1059399014500,"731 Hall Rest Apt. 345\nNew Stephanie, TX 45230",+1-612-213-0569x885,heatherbass@example.org
1,2,PERSONA,Joseph Floyd,PASAPORTE,181904840031,"827 Harris Squares\nSouth Michael, OH 15445",711.625.8479,ydavis@example.net
2,3,EMPRESA,Matthew Brown,PASAPORTE,6383422000377,Unit 5986 Box 8060\nDPO AE 31584,293.723.3014,taraholmes@example.org
3,4,EMPRESA,Scott Mayer,PASAPORTE,8060522965134,"824 Medina Avenue Suite 336\nPort Terri, NH 27174",001-763-708-7537,jimenezalicia@example.net
4,5,EMPRESA,Cassandra Torres,DPI,1929620528652,32549 Mendoza Extension Apt. 991\nEast Timothy...,5579496223,melissapeters@example.com
5,6,EMPRESA,Michael Cox,PASAPORTE,3431613170051,"01919 Richard Common Suite 092\nSouth Anna, OR...",412.396.3173x3157,donnakelley@example.org
6,7,EMPRESA,Kathy Perez,PASAPORTE,6319044581377,"598 Michael Forges Apt. 030\nWest Christine, N...",712.735.8251,wbrown@example.org
7,8,PERSONA,Margaret Goodwin,DPI,8236141348137,"PSC 8756, Box 2910\nAPO AE 34076",001-856-756-5240x009,wilsonjesse@example.net
8,9,EMPRESA,Jennifer Daugherty,PASAPORTE,6274464359083,"9702 Ingram Curve\nLake Jeffery, CT 95522",(647)397-5018x3727,johnbrown@example.net
9,10,PERSONA,Samantha Ramirez,DPI,9699211395589,"823 Brown Fords\nCollinsberg, MH 62101",+1-363-212-6561x8889,mark54@example.com

### Transformar tablas dimensionales

In [ ]:
dimpd.merge(

### Insertar datos a base dimensional

In [ ]:
#insertamos clientes.
dimClientes.to_sql('dimClientes', mysql_driver, index=False, if_exists='append')