In [44]:
import pandas as pd
import numpy as np
import psycopg2
import configparser
from sql import *

In [2]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

### Access point dimensional

In [3]:
RDS_HOST_DBDIM = 'dbdim.cp6geq8ycm59.us-east-2.rds.amazonaws.com'

### Access point transaccional

In [4]:
RDS_HOST_DBTIENDA = 'dbtienda.cp6geq8ycm59.us-east-2.rds.amazonaws.com'

### Drivers a utilizar para conectar a las bases de datos

In [5]:
mysql_driver = f"""mysql+mysqlconnector://{config.get('DBTIENDA','DB_USERNAME')}:{config.get('DBTIENDA','DB_PASSWORD')}@{RDS_HOST_DBTIENDA}:{config.get('DBTIENDA','DB_PORT')}/{config.get('DBTIENDA','DB_NAME')}"""
mysql_driver

'mysql+mysqlconnector://admin_tienda:9HMt06J6jBeX@dbtienda.cp6geq8ycm59.us-east-2.rds.amazonaws.com:3306/tienda'

In [6]:
postgres_driver = f"""postgresql://{config.get('DIM','DB_USERNAME')}:{config.get('DIM','DB_PASSWORD')}@{RDS_HOST_DBDIM}:{config.get('DIM','DB_PORT')}/{config.get('DIM','DB_NAME')}"""
postgres_driver

'postgresql://admin_tiendadim:KNn9yX1ZeF16@dbdim.cp6geq8ycm59.us-east-2.rds.amazonaws.com:5432/tiendadim'

In [8]:
#!pip install mysql-connector-python #Para instalar la conexion con la base de datos
import mysql.connector

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 33.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

### Leer tablas

In [35]:
sql_query = 'SELECT * FROM ingreso;'
df_date = pd.read_sql(sql_query, mysql_driver)
sql_query = 'SELECT * FROM categoria;'
df_ingreso = pd.read_sql(sql_query, mysql_driver)

In [67]:
sql_query = 'SELECT * FROM dim_calendar;'
df_p = pd.read_sql(sql_query, postgres_driver)
df_p

Empty DataFrame
Columns: [fecha, mes, año, dia_mes, dia_semana, semana_año]
Index: []

# Transformar tablas dimensionales e insersion de datos

##Dimension Persona

In [89]:

#Seleccionamos los campos que necesitamos para la dimension
dim_persona = df_persona.loc[:, ["idpersona","tipo_persona","nombre","direccion","telefono","email"]]
#Le cambiamos los datos como aparecen en la tabla dimensional
dim_persona = dim_persona.rename(columns={'nombre': 'nombre_p', 'direccion': 'direccion_p', 'telefono': 'telefono_p', 'email': 'email_p'})
#insertamos datos a dim_persona.
dim_persona = dim_persona.to_sql('dim_persona', postgres_driver, index=False, if_exists='append')

## Dimension Usuario

In [111]:
#Seleccionamos los campso que necesitamos para la dimension
dim_usuario = df_usuario.loc[:, ["idusuario","nombre","direccion","telefono","email","idrol"]]

#Le cambiamos el nombre a los campos que tienen el nombre diferente
dim_usuario = dim_usuario.rename(columns={'nombre': 'nombre_u', 'direccion' : 'direccion_u','telefono':'telefono_u','email':'email_u'})

#Seleccionamos los campso que necesitamos para la dimension
dim_rol = df_rol.loc[:, ["idrol","nombre","descripcion","estado"]]
#Le cambiamos el nombre a los campos que tienen el nombre diferente
dim_rol = dim_rol.rename(columns={'nombre': 'rol_nombre', 'descripcion' : 'rol_descrip', 'estado': 'estado_u'})

join_usuario_rol = pd.merge(dim_usuario, dim_rol, left_on='idrol', right_on='idrol', how='inner').drop_duplicates() # Eliminamos Duplicados
#Ordenamos los campos
dim_usuario = join_usuario_rol.loc[:, ["idusuario","nombre_u","direccion_u","telefono_u","email_u","rol_nombre","rol_descrip"]]
#dim_usuario['estado_u'] = dim_usuario['estado_u'].astype(int)

#insertamos datos a dim_persona.
dim_usuario = dim_usuario.to_sql('dim_usuario', postgres_driver, index=False, if_exists='append')

##Dimension Articulo

In [28]:
#Seleccionamos los campso que necesitamos para la dimension
dim_articulo = df_articulo.loc[:, ["idarticulo","idcategoria","codigo","nombre","precio_venta","stock","descripcion","estado"]]
#Le cambiamos el nombre a los campos que tienen el nombre diferente
dim_articulo = dim_articulo.rename(columns={'nombre': 'articulo_nombre', 'estado' : 'articulo_estado','descripcion':'articulo_descrip'})

#Seleccionamos los campso que necesitamos para la dimension
dim_categoria = df_categoria.loc[:, ["idcategoria","nombre","descripcion"]]
#Le cambiamos el nombre a los campos que tienen el nombre diferente
dim_categoria = dim_categoria.rename(columns={'nombre': 'categoria_nombre', 'descripcion' : 'categoria_descrip'})

join_articulo_categoria = pd.merge(dim_articulo, dim_categoria, left_on='idcategoria', right_on='idcategoria', how='inner').drop_duplicates() # Eliminamos Duplicados

#Ordenamos los campos
dim_articulo = join_articulo_categoria.loc[:, ["idarticulo","codigo","articulo_nombre","precio_venta","stock","articulo_descrip","categoria_nombre","categoria_descrip"]]
#dim_articulo['articulo_estado'] = dim_articulo['articulo_estado'].astype('int')
#insertamos datos a dim_persona.
dim_articulo = dim_articulo.to_sql('dim_articulo', postgres_driver, index=False, if_exists='append')

# *** AQUI DA ERROR***

## Dimension Calendar

In [33]:
df_ingreso.dtypes

idcategoria     int64
nombre         object
descripcion    object
estado          int64
dtype: object

In [51]:
df_p.dtypes

fecha         object
mes           object
año           object
dia_mes       object
dia_semana    object
semana_año    object
dtype: object

In [73]:
from datetime import datetime
#Seleccionamos los campso que necesitamos para la dimension
dim_date = df_date.loc[:, ["fecha"]].drop_duplicates()
#Sacamos los campos de la fecha que necesitamos
dim_date['mes'] = pd.to_datetime(dim_date['fecha']).dt.month
dim_date['año'] = pd.to_datetime(dim_date['fecha']).dt.year
dim_date['dia_mes'] = pd.to_datetime(dim_date['fecha']).dt.day
dim_date['dia_semana'] = pd.to_datetime(dim_date['fecha']).dt.dayofweek
dim_date['semana_año'] = pd.to_datetime(dim_date['fecha']).dt.isocalendar().week
dim_calendar = dim_date.drop_duplicates()
#insertamos datos a dim_persona.
dim_calendar = dim_calendar.to_sql('dim_calendar', postgres_driver, index=False, if_exists='append')

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "dim_calendar_pkey"
DETAIL:  Key (fecha)=(2022-10-18) already exists.

[SQL: INSERT INTO dim_calendar (fecha, mes, "año", dia_mes, dia_semana, "semana_año") VALUES (%(fecha__0)s, %(mes__0)s, %(año__0)s, %(dia_mes__0)s, %(dia_semana__0)s, %(semana_año__0)s), (%(fecha__1)s, %(mes__1)s, %(año__1)s, %(dia_mes__1)s, %(dia_semana__ ... 9675 characters truncated ... , (%(fecha__99)s, %(mes__99)s, %(año__99)s, %(dia_mes__99)s, %(dia_semana__99)s, %(semana_año__99)s)]
[parameters: {'año__0': 2022, 'fecha__0': datetime.datetime(2022, 6, 29, 23, 5, 1), 'semana_año__0': 26, 'dia_semana__0': 2, 'dia_mes__0': 29, 'mes__0': 6, 'año__1': 2023, 'fecha__1': datetime.datetime(2023, 11, 14, 19, 33, 20), 'semana_año__1': 46, 'dia_semana__1': 1, 'dia_mes__1': 14, 'mes__1': 11, 'año__2': 2024, 'fecha__2': datetime.datetime(2024, 2, 23, 3, 22, 44), 'semana_año__2': 8, 'dia_semana__2': 4, 'dia_mes__2': 23, 'mes__2': 2, 'año__3': 2022, 'fecha__3': datetime.datetime(2022, 11, 30, 20, 14, 17), 'semana_año__3': 48, 'dia_semana__3': 2, 'dia_mes__3': 30, 'mes__3': 11, 'año__4': 2022, 'fecha__4': datetime.datetime(2022, 11, 10, 16, 39, 2), 'semana_año__4': 45, 'dia_semana__4': 3, 'dia_mes__4': 10, 'mes__4': 11, 'año__5': 2022, 'fecha__5': datetime.datetime(2022, 9, 24, 22, 52, 57), 'semana_año__5': 38, 'dia_semana__5': 5, 'dia_mes__5': 24, 'mes__5': 9, 'año__6': 2023, 'fecha__6': datetime.datetime(2023, 3, 18, 13, 48, 25), 'semana_año__6': 11, 'dia_semana__6': 5, 'dia_mes__6': 18, 'mes__6': 3, 'año__7': 2022, 'fecha__7': datetime.datetime(2022, 6, 9, 2, 35, 22), 'semana_año__7': 23, 'dia_semana__7': 3, 'dia_mes__7': 9, 'mes__7': 6, 'año__8': 2022, 'fecha__8': datetime.datetime(2022, 5, 1, 3, 50, 28) ... 500 parameters truncated ... 'dia_mes__91': 4, 'mes__91': 7, 'año__92': 2022, 'fecha__92': datetime.datetime(2022, 6, 20, 2, 20, 23), 'semana_año__92': 25, 'dia_semana__92': 0, 'dia_mes__92': 20, 'mes__92': 6, 'año__93': 2022, 'fecha__93': datetime.datetime(2022, 4, 24, 17, 36, 2), 'semana_año__93': 16, 'dia_semana__93': 6, 'dia_mes__93': 24, 'mes__93': 4, 'año__94': 2024, 'fecha__94': datetime.datetime(2024, 3, 11, 14, 30, 13), 'semana_año__94': 11, 'dia_semana__94': 0, 'dia_mes__94': 11, 'mes__94': 3, 'año__95': 2023, 'fecha__95': datetime.datetime(2023, 3, 7, 20, 31, 5), 'semana_año__95': 10, 'dia_semana__95': 1, 'dia_mes__95': 7, 'mes__95': 3, 'año__96': 2022, 'fecha__96': datetime.datetime(2022, 11, 25, 17, 14, 45), 'semana_año__96': 47, 'dia_semana__96': 4, 'dia_mes__96': 25, 'mes__96': 11, 'año__97': 2022, 'fecha__97': datetime.datetime(2022, 6, 23, 2, 43, 13), 'semana_año__97': 25, 'dia_semana__97': 3, 'dia_mes__97': 23, 'mes__97': 6, 'año__98': 2023, 'fecha__98': datetime.datetime(2023, 3, 10, 23, 0, 4), 'semana_año__98': 10, 'dia_semana__98': 4, 'dia_mes__98': 10, 'mes__98': 3, 'año__99': 2023, 'fecha__99': datetime.datetime(2023, 11, 29, 12, 46, 4), 'semana_año__99': 48, 'dia_semana__99': 2, 'dia_mes__99': 29, 'mes__99': 11}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

##Dimensión FACT_ingreso

In [91]:
sql_query_1 = 'SELECT * FROM ingreso;'
df_ingreso_2 = pd.read_sql(sql_query_1, mysql_driver)
sql_query_2 = 'SELECT * FROM detalle_ingreso;'
df_detale_ingreso_2 = pd.read_sql(sql_query_2, mysql_driver)
sql_query_3 = 'SELECT * FROM FACT_ingreso;'
FACT_ingreso = pd.read_sql(sql_query_3, postgres_driver)
#PARA VERIFICAR SI SE GUARDÓ LA INFORMACION
#FACT_ingreso

In [88]:
#Seleccionamos los campso que necesitamos para la dimension
dim_ingreso = df_ingreso_2.loc[:, ["idingreso","idproveedor","idusuario","fecha","total","impuesto"]]
df_detale_ingreso=  df_detale_ingreso_2.loc[:, ["idingreso","idarticulo","precio","cantidad"]]
#Calculamos los campos compra_d e impuesto_i
df_detale_ingreso ['compra_d'] = df_detale_ingreso['precio'] * df_detale_ingreso['cantidad']
df_detale_ingreso['impuesto_i']= df_detale_ingreso['compra_d']* 0.12
df_detale_ingreso = df_detale_ingreso.loc[:, ["idingreso","idarticulo","compra_d","impuesto_i","precio"]]

In [92]:
# Unimos las tablas que requerimos para la dimension
resultado_join = pd.merge(dim_ingreso, df_detale_ingreso, left_on='idingreso', right_on='idingreso', how='inner').drop_duplicates() # Eliminamos Duplicados
#Le cambiamos el nombre a los campos que tienen el nombre diferente
FACT_ingreso = resultado_join.rename(columns={'precio': 'compra_u'})
FACT_ingreso = FACT_ingreso.loc[:, ["idingreso","idproveedor","idusuario","fecha","idarticulo","compra_u","compra_d","impuesto_i"]]
FACT_ingreso['fecha'] = pd.to_datetime(FACT_ingreso['fecha'])
#insertamos datos a dim_persona.
FACT_ingreso = FACT_ingreso.to_sql('FACT_ingreso', postgres_driver, index=False, if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "fecha" of relation "FACT_ingreso" does not exist
LINE 1: ...FACT_ingreso" (idingreso, idproveedor, idusuario, fecha, ida...
                                                             ^

[SQL: INSERT INTO "FACT_ingreso" (idingreso, idproveedor, idusuario, fecha, idarticulo, compra_u, compra_d, impuesto_i) VALUES (%(idingreso__0)s, %(idproveedor__0)s, %(idusuario__0)s, %(fecha__0)s, %(idarticulo__0)s, %(compra_u__0)s, %(compra_d__0)s, %(imp ... 41449 characters truncated ... 5)s, %(fecha__265)s, %(idarticulo__265)s, %(compra_u__265)s, %(compra_d__265)s, %(impuesto_i__265)s)]
[parameters: {'idproveedor__0': 6, 'fecha__0': datetime.datetime(2022, 6, 29, 23, 5, 1), 'idusuario__0': 5, 'idarticulo__0': 37, 'compra_d__0': 652.86, 'compra_u__0': 652.86, 'impuesto_i__0': 78.3432, 'idingreso__0': 1, 'idproveedor__1': 3, 'fecha__1': datetime.datetime(2023, 11, 14, 19, 33, 20), 'idusuario__1': 2, 'idarticulo__1': 76, 'compra_d__1': 15755.94, 'compra_u__1': 875.33, 'impuesto_i__1': 1890.7128, 'idingreso__1': 2, 'idproveedor__2': 3, 'fecha__2': datetime.datetime(2023, 11, 14, 19, 33, 20), 'idusuario__2': 2, 'idarticulo__2': 44, 'compra_d__2': 3780.8999999999996, 'compra_u__2': 756.18, 'impuesto_i__2': 453.7079999999999, 'idingreso__2': 2, 'idproveedor__3': 3, 'fecha__3': datetime.datetime(2023, 11, 14, 19, 33, 20), 'idusuario__3': 2, 'idarticulo__3': 41, 'compra_d__3': 2289.14, 'compra_u__3': 163.51, 'impuesto_i__3': 274.6968, 'idingreso__3': 2, 'idproveedor__4': 5, 'fecha__4': datetime.datetime(2024, 2, 23, 3, 22, 44), 'idusuario__4': 1, 'idarticulo__4': 100, 'compra_d__4': 1504.72, 'compra_u__4': 107.48, 'impuesto_i__4': 180.5664, 'idingreso__4': 3, 'idproveedor__5': 5, 'fecha__5': datetime.datetime(2024, 2, 23, 3, 22, 44), 'idusuario__5': 1, 'idarticulo__5': 59, 'compra_d__5': 928.1, 'compra_u__5': 464.05, 'impuesto_i__5': 111.372, 'idingreso__5': 3, 'idproveedor__6': 6, 'fecha__6': datetime.datetime(2022, 11, 30, 20, 14, 17) ... 2028 parameters truncated ... 'impuesto_i__259': 74.37599999999999, 'idingreso__259': 99, 'idproveedor__260': 4, 'fecha__260': datetime.datetime(2023, 3, 10, 23, 0, 4), 'idusuario__260': 7, 'idarticulo__260': 81, 'compra_d__260': 7763.6, 'compra_u__260': 970.45, 'impuesto_i__260': 931.6320000000001, 'idingreso__260': 99, 'idproveedor__261': 4, 'fecha__261': datetime.datetime(2023, 3, 10, 23, 0, 4), 'idusuario__261': 7, 'idarticulo__261': 55, 'compra_d__261': 2666.46, 'compra_u__261': 140.34, 'impuesto_i__261': 319.9752, 'idingreso__261': 99, 'idproveedor__262': 6, 'fecha__262': datetime.datetime(2023, 11, 29, 12, 46, 4), 'idusuario__262': 5, 'idarticulo__262': 15, 'compra_d__262': 2442.56, 'compra_u__262': 152.66, 'impuesto_i__262': 293.1072, 'idingreso__262': 100, 'idproveedor__263': 6, 'fecha__263': datetime.datetime(2023, 11, 29, 12, 46, 4), 'idusuario__263': 5, 'idarticulo__263': 69, 'compra_d__263': 5172.6, 'compra_u__263': 862.1, 'impuesto_i__263': 620.712, 'idingreso__263': 100, 'idproveedor__264': 6, 'fecha__264': datetime.datetime(2023, 11, 29, 12, 46, 4), 'idusuario__264': 5, 'idarticulo__264': 57, 'compra_d__264': 2178.35, 'compra_u__264': 114.65, 'impuesto_i__264': 261.402, 'idingreso__264': 100, 'idproveedor__265': 6, 'fecha__265': datetime.datetime(2023, 11, 29, 12, 46, 4), 'idusuario__265': 5, 'idarticulo__265': 18, 'compra_d__265': 6687.89, 'compra_u__265': 607.99, 'impuesto_i__265': 802.5468, 'idingreso__265': 100}]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Dimension FACT_VENTA

In [98]:
sql_query_venta = 'SELECT * FROM venta;'
df_venta = pd.read_sql(sql_query_venta, mysql_driver)
sql_query_detalle_venta = 'SELECT * FROM detalle_venta;'
df_detale_ingreso = pd.read_sql(sql_query_2, mysql_driver)

sql_query_ingreso = 'SELECT * FROM ingreso;'
df_ingreso = pd.read_sql(sql_query_2, mysql_driver)

sql_query_FACT_venta = 'SELECT * FROM FACT_venta;'
FACT_venta = pd.read_sql(sql_query_3, postgres_driver)
#PARA VERIFICAR SI SE GUARDÓ LA INFORMACION
#FACT_ingreso

In [94]:
df_venta.dtypes

idventa                       int64
idcliente                     int64
idusuario                     int64
tipo_comprobante             object
serie_comprobante            object
num_comprabante              object
fecha                datetime64[ns]
impuesto                    float64
total                       float64
estado                       object
dtype: object

In [96]:
df_detale_ingreso.dtypes

iddetalle_ingreso      int64
idingreso              int64
idarticulo             int64
cantidad               int64
precio               float64
dtype: object

In [99]:
df_ingreso.dtypes

iddetalle_ingreso      int64
idingreso              int64
idarticulo             int64
cantidad               int64
precio               float64
dtype: object

In [97]:
FACT_venta.dtypes

idingreso      object
idproveedor    object
idusuario      object
fecha          object
idarticulo     object
compra_u       object
compra_d       object
impuesto_i     object
dtype: object

In [ ]:
#Seleccionamos los campso que necesitamos para la dimension
dim_venta = df_venta.loc[:, ["idingreso","fecha","total","impuesto"]]